.container {
    display: flex;
    gap: 100px;
}
  
.imgContainer {
flex: 1;
position: relative;
margin-top:50px
}

.img{
object-fit: cover;
}

.textContainer {
flex: 2;
display: flex;
flex-direction: column;
gap: 50px;
margin-top:50px;
}

.title{
font-size: 64px;
}

.detail{
display: flex;
gap: 20px;

}

.detailText{
display: flex;
flex-direction: column;
gap: 10px;
}

.detailTitle{
color: gray;
font-weight: 600;
}

.detailValue{
font-weight: 500;

}

.content{
font-size: 20px;
}

@media (max-width:768px){
.imgContainer{
    display: none;
}
}
.avatar{
    object-fit:cover;
    border-radius:50%;
}
.EditText{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left:15px;
    height:50px;
    width:50px;
    padding:10px;
    font-size: 20px;
    cursor: pointer;
}
.DeleteText{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left:15px;
    height:50px;
    width:50px;
    padding:10px;
    color:red;
    font-size: 20px;
    cursor: pointer;
}
.image{
    margin-top:2px;
    margin-bottom:25px;
    align-items: center;
    justify-content: center;
    margin-left:13px;
}
.text{
    width:400px;
    height:60px;
}
.button{

    height:30px;
    width:100px;
    border:5px;
    background-color:pink;
    min-width:80px;
    padding:10px;
    border-radius:20px;
    font-weight:500;
    text-align:center; 
    justify-content: center;
    cursor: pointer;
    margin-left:300px;
    margin-top:-25px;

}